
// Temp demo stylings start

strike {
	// display: none!important;
}

.devnote {
	// display: none!important;
}

.inline-note {
	background-color: #d26476;
	color: white;
	
	a {
		color: #fff;
		text-decoration: underline;
	}	
}

h1 {
	.inline-note {
		font-size: 50%;
	}
}


.big {
	font-size: 120%;
}


// Temp demo stylings end


.hide {
	display: none;
}


.pink {
	background-color: pink!important;
}

.fr {
	float: right;
	display: block;
}

.ar {
	text-align: right;
}


.hide {
	display: none;
}

.img-max-33 {
	max-width: 33%;
}


.link-primary {
	background-image: url('../img/link-chevron-employers.svg');
	background-position: right center;
	background-repeat: no-repeat;
	padding: 5px 26px 5px 0px;
	font-size: 18px;
}

.link-chevron {
	background-image: url('../img/link-chevron-employers.svg');
	background-position: right center;
	background-repeat: no-repeat;
	padding: 5px 26px 5px 0px;
}


h3 {
	.link-chevron {
		display: block;
	}
}

.dateL1 {
	font-size: 150%;
	font-weight: bold;
}


.stepID {
	color: gainsboro;
	float: right;
	display: inline-block;	
}

.advice {
	color: grey;
}

.vpad-L1 {
	padding-top: 32px;
}

h1 {
	small {
		display: block;
	}
}


.cta {
	cursor: pointer;
}

.panel-body {
	*:last-child {
		margin-bottom: 0;
		// background-color: yellow;
	}
}

.note {
	background-color: #fbffd5;
	padding: 16px;
	margin-bottom: 16px;
	direction: block;
	
	*:last-child {
		margin-bottom: 0;
	}
	
	&.fr {
		margin-left: 16px;
		margin-bottom: 16px;
	}
}

.devnote {
	padding: 16px;
	background-color: #d26476;
	color: white;
	margin-bottom: 16px;
	
	*:first-child {
		margin-top: 0;
	}
	
	*:last-child {
		margin-bottom: 0;
	}
	
	a {
		color: #fff;
		text-decoration: underline;
	}
	
	&.fr {
		margin-left: 16px;
		margin-bottom: 16px;
	}
	
}




.breadcrumb {
	margin-top: 16px!important;
}

.sitemap {
	li {
		.devnote {
			padding: 1px;
			i {
				font-size: 80%;
			}
			span {
				background-color: yellow;
				display: none
			}
		}
	}
}


.info-panel {
	cursor: pointer;
}

// Timeline stylings (temp)

.VAP {
}

.timeline {
	thead {
		background-color: #d5d5d5;
		th {
			border: none!important;
		}
	}
}

.col-ttl-month {
	text-align: center;
	width: 12.5%;
}

.timeline-step {
	background-color: #2864a8;
	color: #fff;
	padding: 1px 4px;
	border-radius: 4px;
	display: block;
	text-align: center;
	cursor: pointer;
}


// Temp home page stylings

.temp-home-masthead {
	// padding-top: 16px;
	padding-bottom: 32px;
	// background-image: url('../img/temp-geek.jpg');
	background-image: linear-gradient(#0f5267 0%, #08303c 100%);
	// background-position: center center;
	// background-size: cover;
	
	.invert { 
		color: #fff!important;			
			a {
				color: #fff!important;
			}		
		}
	}


// Temp header stylings

.header-container {
	// background-image: url('../img/Header.png');
	// background-repeat: no-repeat;
	// background-position: center bottom;
	min-height: 164px;
	border-bottom: 5px solid #09647a;
	text-align: left;

	.container {
		padding: 0!important;
	}

}

// Temp footer stylings

.footer-container {
	background-color: #383838;
	background-image: url('../img/Footer.png');
	background-position: center top;
	background-repeat: no-repeat;	
	min-height: 450px;
	margin-top: 32px;
	
	a {
		padding: 8px;
		display: block;
		color: #fff;
	}
	
}


